{% load static %}
{% include 'includes/navc.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
<link rel="stylesheet" href="./">
<link rel="stylesheet" href="{% static 'css/cs-skin-elastic.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
<link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />

</head>
{% block content %}
<br>
<!-- ========================= SECTION CONTENT ========================= -->

<section class="section-conten padding-y bg">
    
    <div class="container-fluid">
        <div class="row">
            {% include 'includes/listar_sidebarMovCho.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-4">Sesión de RRHH :</strong>
                        <span>{{ user.first_name }}</span>
                    </header>
                    <div class="card-body">
                        <div class="row justify-content-center"> 

                            <!-- Card 0 (centrado) -->
                            <div class="col-md-3">
                                <div class="card border border-secondary text-center">
                                    <div class="card-header">
                                        <div class="text-muted text-right mb-1">
                                            <i class="fa fa-bar-chart-o"></i>
                                        </div>
                                        <strong class="card-title text-primary" > Km Registrados </strong>
                                    </div>
                                    <div class="card-body">
                                        
                                        <h4> <span class="count"> {{ total_km|default:0|floatformat:2 }} </span></h4>
                                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row.// -->
                        <div class="row mt-4">
                            <!-- Card 1 -->
                            <div class="col-md-3">
                                <div class="card border border-secondary text-center">
                                    <div class="card-header">
                                        <div class="text-muted text-right mb-1">
                                            <i class="fa fa-user-plus"></i>
                                        </div>
                                        <strong class="card-title text-primary" >Chofer con Movimientos</strong>
                                    </div>
                                    <div class="card-body">
                                        
                                        <h4> <span class="count"> {{ total_choferes }} </span></h4>
                                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Card 2 -->
                            <div class="col-md-3">
                                <div class="card border border-secondary text-center">
                                    <div class="card-header">
                                        <div class="text-muted text-right mb-1">
                                            <i class="fa fa-user-plus"></i>
                                        </div>
                                        <strong class="card-title text-primary" >Total movimientos</strong>
                                    </div>
                                    <div class="card-body">
                                        
                                        <h4> <span class="count">{{ total_movimientos }} </span></h4>
                                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card 3 -->
                    
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                </article> <!-- card.// --> 
            </main>
        </div> <!-- row.// -->
    </div> <!-- container-fluid.// -->
</section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    {% endblock %}

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
