<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/usuarios/' == request.path %} active {% endif %}" href="{% url 'listar' %}"> Usuario actual  </a>
        <a class="list-group-item {% if '/listusuario/' in request.path %} active {% endif %}"href="{% url 'listusuario' %}">Usuarios Activos </a>
        <a class="list-group-item {% if '/listchofer/' in request.path %} active {% endif %}"href="{% url 'listchofer' %}">Listado Choferes   </a>
        <a class="list-group-item {% if '/listdoc/' in request.path %} active {% endif %}"href="{% url 'listdoc' %}">Documentacion Choferes   </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Salir de sesion</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>