<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/movchofer/' == request.path %} active {% endif %}" href="{% url 'movchofer' %}"> Resumen </a>
        <a class="list-group-item {% if '/registrarmovimientoc/' in request.path %} active {% endif %}"href="{% url 'registrarmovimientoc' %}"> Registar Moviemiento </a>
        <a class="list-group-item {% if '/listmovimientoChofer/' in request.path %} active {% endif %}"href="{% url 'listmovimientoChofer' %}">Movimiento Chofer </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Salir de sesion</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>